/*MAIN*/
@font-face {
  font-family: Authentic Sans;
  src: url(AUTHENTIC/WOFF/AUTHENTICSans-130.woff2) format("woff2"), url(AUTHENTIC/WOFF/AUTHENTICSans-130.woff) format("woff");
}

body {
  background: black;
  font-family: Authentic Sans;
}

.container {
  width: 100%;
  height: 100%;
}

.TOP-BAR-GRID {
  position: fixed;
  top: 0;
  padding-top: 10px;
  z-index: 1;
  width: 100%;
}

/* BUTTONS */
.iGrid {
  position: fixed;
  z-index: 2;
}

#iBtn {
  background-color: transparent;
  color: white;
  font-size: 25px;
  padding: 0;
  border: 2px solid white;
  border-radius: 30px;
  z-index: 2;
}

#iBtn:hover {
  text-decoration: none;
  cursor: pointer;
}

#talkBtn {
  background-color: transparent;
  color: #00FF38;
  font-size: 60px;
  border: none;
  margin-right: 20px;
  bottom: 10px;
  z-index: 1;
}

#talkBtn:hover {
  opacity: 80%;
  cursor: pointer;
}

#whatBtn {
  background-color: transparent;
  color: #8000FF;
  font-size: 60px;
  border: none;
  margin-left: 10px;
  z-index: 1;
}

#whatBtn:hover {
  opacity: 86%;
  cursor: pointer;
}

#collectionBtn {
  background-color: transparent;
  color: #C4C4C4;
  font-size: 60px;
  border: none;
  margin-left: 30px;
  z-index: 1;
}

#collectionBtn:hover {
  opacity: 85%;
  cursor: pointer;
}

#talkModal {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 430px;
  display: block;
  /* pops by default */
  border: 3px solid white;
  border-radius: 15px;
  width: 700px;
  height: 700px;
  overflow: auto;
  /* Enable scroll if needed */
  overflow-y: auto;
  background-color: black;
  /* Black w/ opacity */
  z-index: 1;
}

#talkModalHeader {
  padding: 10px;
  cursor: move;
  background-color: #00FF38;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  text-decoration: none;
  cursor: pointer;
}

#question {
  text-align: left;
  font-size: 25px;
  background-color: white;
  width: 90%;
  padding: 20px 20px 20px 40px;
  margin: 100px auto 0 auto;
  border-radius: 50px 50px 50px 10px;
}

#answer-text {
  background: transparent;
  height: 80px;
  width: 90%;
  border: 3px solid white;
  border-radius: 70px 15px 70px 70px;
  margin: 20px auto 100px auto;
  padding: 10px 20px 10px 40px;
  color: white;
  font-size: 25px;
}

#answer-text::placeholder {
  color: white;
}

.talk-modal-bottom-row {
  width: 85%;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.letter-count {
  color: white;
  background-color: #C4C4C4;
  font-size: 25px;
  border-radius: 80px;
}

.submitBtn {
  background-color: transparent;
  color: #00FF38;
  font-size: 25px;
  border-radius: 50px;
}

.submitBtn:hover {
  opacity: 80%;
  cursor: pointer;
}

#whatModal {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 900px;
  display: none;
  /* hides by default */
  border: 3px solid black;
  border-radius: 15px;
  width: 600px;
  height: 500px;
  background-color: white;
  /* Black w/ opacity */
  z-index: 1;
}

#whatModalHeader {
  padding: 10px;
  cursor: move;
  background-color: #8000FF;
  color: white;
}

.about p {
  font-size: 25px;
}

#email {
  color: #8000FF;
  font-size: 25px;
  padding-right: 50px;
}

#iModal {
  position: fixed;
  display: none;
  /* hidden by default */
  text-align: left;
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px 25px 30px 20px;
  width: 400px;
  height: 400px;
  background-color: white;
  /* Black w/ opacity */
  z-index: 1;
}

#collectionPage {
  position: absolute;
  display: none;
  /* hides by default */
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  z-index: -1;
}

#questionRow {
  position: relative;
  right: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 50px 0 50px 0;
}

#questionCP {
  position: relative;
  right: -100px;
  width: auto;
  max-width: 80%;
  height: auto;
  margin: 5px 5px 5px 5px;
  padding: 10px 15px 10px 18px;
  border: 2px solid black;
  border-radius: 30px 10px 30px 30px;
  font-size: 15px;
  overflow-wrap: break-word;
  color: black;
  background: white;
}

#questionDate {
  position: relative;
  width: 80px;
  height: 40px;
  right: 0;
  bottom: 0;
  margin: 5px 5px 10px 5px;
  padding-top: 5px;
  border: 2px solid none;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  font-size: 10px;
  color: white;
  background: #C4C4C4;
}

#answer-collection {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 50px 0 60px 0;
  color: black;
}

.dataUnit {
  position: relative;
  right: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 50px 0 50px 0;
}

.answer {
  position: relative;
  right: -100px;
  width: auto;
  max-width: 80%;
  height: auto;
  margin: 5px 5px 5px 5px;
  padding: 10px 15px 10px 18px;
  border: 2px solid none;
  border-radius: 10px 30px 30px 30px;
  font-size: 15px;
  overflow-wrap: break-word;
  color: white;
  background: black;
}

.date {
  position: absolute;
  width: 80px;
  height: 40px;
  right: 0;
  bottom: 0;
  margin: 5px 5px 10px 5px;
  padding-top: 5px;
  border: 2px solid none;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  font-size: 10px;
  color: white;
  background: #C4C4C4;
}

#loadBtn {
  background-color: #00FF38;
  color: white;
  font-size: 25px;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: none;
  position: absolute;
  right: 200px;
  margin-top: 50px;
}

#loadBtn:hover {
  color: #8000FF;
  cursor: pointer;
}

#loading {
  position: absolute;
  bottom: 0;
}

#inview {
  position: relative;
  visibility: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 5;
}

#nomore {
  font-size: 12px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */